body {
	font-family: tahoma;
	font-size: 13px;
}

a {
	text-decoration: none;
	color: navy;
}

.label {
	font-size: 12px;
}

.story  {
	display: table-row;
}

.story > span {
	display: table-cell;
	padding-left: 8px;
}
